<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome page</title>
    <link rel="stylesheet" href="css/app.css">
    <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>
  <body>
    <header>
      <div class="container"><a class="logo" href="index.html">Design Storm</a>
        <nav><a href="pages/register.html">register</a><a href="pages/login.html">login</a></nav>
      </div>
    </header>
    <div id="site-section">
      <div class="container">
        <div id="home">
          <div class="search-area">
            <div class="search-container">
              <h1>DesignStorm</h1>
              <input class="search" type="text" value="" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
